<template>

    <div id="externalComponent2">
        <header>
            External Component 2
        </header>

        <div>
            <input-component></input-component>
            <text-component></text-component>
            <text-component></text-component>
            <text-component></text-component>
        </div>
    </div>


</template>

<script>

    export default {
        name: "ExternalComponent2"
    }

</script>