<template>

    <div class="input__field">
        <input text="text">
        <label>Global input component</label>
    </div>

</template>

<script>

    export default {
        name: "InputComponent"
    }

</script>
