<template>
    <p>
        Global text component {{count}}
    </p>
</template>

<script>

    export default {
        name: "TextComponent",
        computed: {
            count () {
                return this.$store.state.count;
            }
        }
    }

</script>