<template>

    <div id="externalComponent1">
        <header class="header">
            <h2>External component 1 {{count}}</h2>
        </header>

        <div>
            <external-component-text></external-component-text>
        </div>
    </div>

</template>

<script>
    import ExternalComponentText from './externalComponent1Text'
    export default {
        name: "ExternalComponent1",
        components: {
            ExternalComponentText
        },
        mounted: function(){
            this.$store.commit('increment')
        },
        computed: {
            count () {
                return this.$store.state.count;
            }
        }
    }
</script>
